<header class="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}

        <span class="header__right">
            {{- if len .Site.Menus }}
                {{ partial "menu.html" . }}
                <span class="menu-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </span>
            {{- end }}

            <span class="search-toggle not-selectable" role="button" tabindex="0" aria-label="Search" aria-expanded="false" aria-controls="search-panel">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </span>

            {{- if .Site.Params.EnableThemeToggle }}
                <span class="theme-toggle not-selectable">{{ partial "theme-toggle-icon.html" . }}</span>
            {{- end}}
        </span>
    </span>
</header>

{{ partial "search.html" . }}
